{% extends "gym_ms/templates/includes/Main.html" %}

{% block content %}
 <div class="container-fluid pt-4 px-4">
    <div class="row g-5">
            {% for workout,data in workout_plans.items()%}
                <div class="col-lg-3 col-md-4 col-sm-6">

                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-success">


                            <div style="float: left;">
                                {{workout}}
                            </div>
                            <div style="text-align: end;">
                                 <span class="text-primary">
                                     <i class="fa fa-edit"></i>
                                 </span>
                                &nbsp;

                                 <span class="text-primary" data-name="{{data.name}}"
                              onclick="delete_action(this)">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </div>


                            <div style="right : 0s">
                                By {{ data.coach.split()[0] }}
                            </div>

                        </div>
                        <div class="card-body text-success">
                            <div>
                                {% for facility in data.facility %}
                                <span class="badge bg-primary rounded-pill"> {{ facility }}</span>
                                {% endfor %}
                            </div>


                            <hr/>
                            {% for exercise in data.exercise_name %}

                            <span class="badge  bg-secondary rounded-pill"> {{ exercise }}</span>

                            {% endfor %}
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <div style="float: left;">
                                {{data.detail}}
                            </div>
                            <div style="text-align: end;">
                                {{ frappe.utils.fmt_money(data.price,currency='ETB') }}
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

</div>

<script>
    var delete_action = async (data) => {
      console.log(data);
      await fetch(
        `/api/method/gym_ms.gym_management_system.api.Rest_api.custom_delete?doc=Gym Workout Plan&name=${data.getAttribute(

            "data-name"
        )}`
      )
        .then(function (r) {
          console.log("Done", r);
        })
        .catch((e) => console.log("", e));

      window.location.href="/gym-admin/gym_workout_plan"

    };
</script>
{% endblock %}



